<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BIRDLE</title>
    <meta name="description" content="A new BIRDLE every day" />
    <meta name="author" content="Michael Sprague" />
    <meta name="theme-color" content="#581c87" />
    <meta name="apple-mobile-web-app-title" content="BIRDLE" />
    <meta name="application-name" content="BIRDLE" />
    <link rel="preconnect" href="https://birdle.app" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://static.cloudflareinsights.com" />
    <link rel="preconnect" href="https://cloudflareinsights.com" />
    <link rel="dns-prefetch" href="https://static.cloudflareinsights.com" />
    <link rel="dns-prefetch" href="https://cloudflareinsights.com" />
    <link rel="dns-prefetch" href="https://birdle.app" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />
    <link rel="preload" as="script" type="text/javascript" href="./app.js" crossorigin="anonymous" />
    <link href="./styles.scss" rel="stylesheet" />
    <link rel="icon" type="image/png"
      href="https://res.cloudinary.com/mikesprague/image/upload/fl_preserve_transparency,w_32,h_32,c_scale/birdle/favicon.png" />
    <link rel="shortcut icon"
      href="https://res.cloudinary.com/mikesprague/image/upload/fl_preserve_transparency,w_32,h_32,c_scale/birdle/favicon.png" />
    <link rel="apple-touch-icon" class="favicon"
      href="https://res.cloudinary.com/mikesprague/image/upload/fl_preserve_transparency,w_192,h_192,c_scale/birdle/favicon.png" />
    <link rel="mask-icon" class="favicon"
      href="https://res.cloudinary.com/mikesprague/image/upload/fl_preserve_transparency,w_192,h_192,c_scale/birdle/favicon.png" />
  </head>
  <body>
    <div class="app">
      <div class="title-container">
        <svg id="help" class="icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path
            d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z">
          </path>
        </svg>
        <h1>Birdle<small><a
              href="https://github.com/mikesprague/birdle/releases/tag/v<%= appVersion %>"
              rel="noopener noreferrer" target="_blank">v<%= appVersion %></a></small>
        </h1>
        <svg id="stats" class="icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M16,11V3H8v6H2v12h20V11H16z M10,5h4v14h-4V5z M4,11h4v8H4V11z M20,19h-4v-6h4V19z"></path>
        </svg>
      </div>
      <div class="guesses-container"></div>
      <div class="keyboard-container"></div>
    </div>
    <script type="module" src="./app.js"></script>
  </body>
</html>
