@import 'tailwindcss';
@import '@sweetalert2/theme-dark/dark';
@import 'charts.css/dist/charts.min.css';

@theme {
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
  --color-absent: #3a3a3c;
  --color-correct: #538d4e;
  --color-present: #b59f3b;
}

* {
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.present-overlay {
  background-color: #b59f3b !important;
  border: none !important;
  color: #dedede !important;
  touch-action: manipulation;
}

.correct-overlay {
  background-color: #538d4e !important;
  border: none !important;
  color: #dedede !important;
  touch-action: manipulation;
}

.absent-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
  color: #dedede !important;
  touch-action: manipulation;
}

.break-flex {
  flex-basis: 100%;
  height: 0;
  touch-action: manipulation;
}

#guess-distribution.bar {
  font-size: var(--text-sm);

  --labels-size: 30px;
}

/* animations from https://animista.net/ */
.flip-horizontal {
  animation: flip-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    reverse both;
}

@keyframes flip-horizontal {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.fade-in {
  animation: fade-in 1.2s ease-in both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1s ease-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

