@tailwind base;
@tailwind components;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans p-1;
}

.app {
  @apply container max-w-md mx-auto flex flex-col justify-between items-center;
  height: 90vh;
}

.title-container {
  @apply border-b-black dark:border-b-gray-100 border-b w-full;

  h1 {
    @apply text-4xl font-bold text-center uppercase mb-1 tracking-widest;
  }
}

.message-container {
  @apply h-2 md:h-8;

  p {
    @apply bg-gray-600 rounded-lg p-2 m-0;
  }
}

.guesses-container {
  @apply mb-4;

  .guess-row {
    @apply flex;
  }

  .guess {
    @apply md:w-16 md:h-16 w-14 h-14 border-2 border-gray-600 box-border flex justify-center items-center text-white m-1 text-3xl font-black;
  }
}

.keyboard-container {
  @apply w-full flex flex-wrap;

  .key {
    @apply md:w-9 md:h-14 w-7 h-11 rounded-md border-0 m-1 text-sm md:text-base;
    @apply bg-gray-400 text-white;
  }

  .key:nth-child(1) {
    @apply md:ml-0 ml-4;
  }

  .key:nth-child(11) {
    @apply md:ml-7 ml-9;
  }

  .key:nth-child(20) {
    @apply md:ml-2 ml-4;
  }

  .key:nth-child(20),
  .key:nth-child(28) {
    @apply md:w-14 w-12;
  }
}

.yellow-overlay {
  background-color: #b59f3b !important;
  border: none !important;
}
.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}
.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

@tailwind utilities;
